.fillResponseQuestion {
  padding: 10px;
  margin: 10px;
}

.questionTitle {
  font-family: "Open Sans", sans-serif;
}

.options {
  font-family: "Open Sans", sans-serif;
}
.textField {
  width: 90%;
  margin: auto;
}
